.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.Rproj
.DS_Store
*~
*.#*
sensitive/
*.aux
*.log
*.out
Rplots.pdf
hw/hw5/BPD_Part_1_Victim_Based_Crime_Data.csv
data/donoho_2017.pdf